@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-dark.css";

/* 
* These colors are reserved to distinguish the guess wheel from the main wheel.
* Do not use these colors for any other purpose.
*/

:where(:root) {
  --orange-1: var(--orange-1);
  --orange-2: var(--orange-2);
  --orange-3: var(--orange-3);
  --orange-4: var(--orange-4);
  --orange-5: var(--orange-5);
  --orange-6: var(--orange-6);
  --orange-7: var(--orange-7);
  --orange-8: var(--orange-8);
  --orange-9: var(--orange-9);
  --orange-10: var(--orange-10);
  --orange-11: var(--orange-11);
  --orange-12: var(--orange-12);

  --red-1: var(--red-1);
  --red-2: var(--red-2);
  --red-3: var(--red-3);
  --red-4: var(--red-4);
  --red-5: var(--red-5);
  --red-6: var(--red-6);
  --red-7: var(--red-7);
  --red-8: var(--red-8);
  --red-9: var(--red-9);
  --red-10: var(--red-10);
  --red-11: var(--red-11);
  --red-12: var(--red-12);

  --crimson-1: var(--crimson-1);
  --crimson-2: var(--crimson-2);
  --crimson-3: var(--crimson-3);
  --crimson-4: var(--crimson-4);
  --crimson-5: var(--crimson-5);
  --crimson-6: var(--crimson-6);
  --crimson-7: var(--crimson-7);
  --crimson-8: var(--crimson-8);
  --crimson-9: var(--crimson-9);
  --crimson-10: var(--crimson-10);
  --crimson-11: var(--crimson-11);
  --crimson-12: var(--crimson-12);

  --plum-1: var(--plum-1);
  --plum-2: var(--plum-2);
  --plum-3: var(--plum-3);
  --plum-4: var(--plum-4);
  --plum-5: var(--plum-5);
  --plum-6: var(--plum-6);
  --plum-7: var(--plum-7);
  --plum-8: var(--plum-8);
  --plum-9: var(--plum-9);
  --plum-10: var(--plum-10);
  --plum-11: var(--plum-11);
  --plum-12: var(--plum-12);
}

@theme {
  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  --color-crimson-1: var(--crimson-1);
  --color-crimson-2: var(--crimson-2);
  --color-crimson-3: var(--crimson-3);
  --color-crimson-4: var(--crimson-4);
  --color-crimson-5: var(--crimson-5);
  --color-crimson-6: var(--crimson-6);
  --color-crimson-7: var(--crimson-7);
  --color-crimson-8: var(--crimson-8);
  --color-crimson-9: var(--crimson-9);
  --color-crimson-10: var(--crimson-10);
  --color-crimson-11: var(--crimson-11);
  --color-crimson-12: var(--crimson-12);

  --color-plum-1: var(--plum-1);
  --color-plum-2: var(--plum-2);
  --color-plum-3: var(--plum-3);
  --color-plum-4: var(--plum-4);
  --color-plum-5: var(--plum-5);
  --color-plum-6: var(--plum-6);
  --color-plum-7: var(--plum-7);
  --color-plum-8: var(--plum-8);
  --color-plum-9: var(--plum-9);
  --color-plum-10: var(--plum-10);
  --color-plum-11: var(--plum-11);
  --color-plum-12: var(--plum-12);
}
