/* https://github.com/radix-ui/themes/blob/544982ad6e52f84673f1f48736cf7e5501d70e9e/packages/radix-ui-themes/src/styles/tokens/typography.css */

:where(:root) {
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-35: 35px;
  --font-size-60: 60px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-26: 26px;
  --line-height-28: 28px;
  --line-height-30: 30px;
  --line-height-36: 36px;
  --line-height-40: 40px;
  --line-height-60: 60px;

  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto,
    'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  --default-font-size: var(--font-size-16); /* Same size used for `<Text size="3">` */
  --default-line-height: var(--line-height-24); /* Equivalent to the line-height used for `<Text size="3">` 16px * 1.5 = 24px */
}

@theme {
  --text-xs: var(--font-size-12);
  --text-sm: var(--font-size-14);
  --font-md: var(--font-size-16);
  --text-lg: var(--font-size-18);
  --text-xl: var(--font-size-20);
  --text-2xl: var(--font-size-24);
  --text-3xl: var(--font-size-28);
  --text-4xl: var(--font-size-35);
  --text-5xl: var(--font-size-60);

  --font-weight-light: var(--font-weight-light);
  --font-weight-normal: var(--font-weight-regular);
  --font-weight-medium: var(--font-weight-medium);
  --font-weight-bold: var(--font-weight-bold);

  --leading-xs: var(--line-height-16);
  --leading-sm: var(--line-height-20);
  --leading-md: var(--line-height-24);
  --leading-lg: var(--line-height-28);
  --leading-xl: var(--line-height-30);
  --leading-2xl: var(--line-height-36);
  --leading-3xl: var(--line-height-40);
  --leading-4xl: var(--line-height-60);

  --default-font-family: var(--default-font-family);
  --default-font-size: var(--default-font-size);
  --default-line-height: var(--default-line-height);
}
